<!--p>
  register works!
</p-->


<hr>
<form #regDetails="ngForm" (ngSubmit)="regSubmit(regDetails)">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" ngModel name="name" id="name" class="form-control"
          placeholder="Enter name">
      </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" ngModel name="email" id="email" class="form-control"
        placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" ngModel name="password" id="password" class="form-control"
        placeholder="Enter password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>


