body {
  background-color: lightgray;
}
img, label, nav {
  display: inline-block;
}
header {
  position: fixed;
}
#header-img {
  position: absolute;
  width: 70px;
  height: 60px;
  padding-left: 30px;
  padding-top: 40px;
}
#header-name {
  padding-top: 50px;
  padding-left: 120px;
  font-size: 30px;
}
#nav-bar {
  padding-left: 550px;
  font-size: 18px;
}
.nav-link {
  color: black;
  margin-left: 70px;
  text-decoration: none;
}

#form {
  text-align: center;
  padding-top: 130px;
}
#name {
  font-size: 25px;
  font-weight: bolder;
  padding-bottom: 10px;
}
input {
  width: 270px;
  height: 20px;
}
#submit {
  margin-top: 20px;
  width: 150px;
  height: 30px;
  font-weight: 800;
  background-color: gold;
  border: none;
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
}
#img1, #img2, #img3 {
  height: 60px;
  width: 60px;
  padding-top: 50px;
}
.desc{
  padding-left: 100px;
  padding-top: 50px;
  width: 750px;
}
.desc h3 {
  font-size: 25px;
  font-weight: bolder;
  padding: 0;
  margin: 0;
}
.desc p {
  padding: 0;
  margin: 0;
  word-wrap: break-word;
}

#howitworks {
  margin-top: 75px;
  display: block;
  text-align: center;
}

.flex-container {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
.flex-item {
  width: 300px;
  height: 200px;
  display: table;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
}
table {
  width: 100%;
}
th {
  background-color: gray;
  font-weight: 500;
}
.cost {
  font-size: 25px;
  font-weight: bold;
}
button {
  width: 150px;
  height: 40px;
  background-color: gold;
  border: none;
  margin-bottom: 15px;
  font-size: 15px;
}

#footer {
  background-color: gray;
  width: 950px;
  height: 100px;
  margin-top: 200px;
  margin: auto;
  text-align: right;
}
footer a{
  display: inline-block;
  margin-top: 20px;
  margin-right: 20px;
  text-decoration: none;
  color: black;
  font-size: 18px;
}
p {
  margin-right: 20px;
}
@media (min-width: 200px) {
  background-color: lightblue;
}




