<!-- <p>location works!</p> -->

<button type="submit" (click)="showUsersLocation()">Show user locations</button>
<hr>

<!-- <body (click)="initialize_map();"> -->
    <div id="map" style="width: 60vw; height: 60vh;" (onmouseover)="plotDetails($event)"></div>
<!-- </body> -->


<!-- <div>
    <div>
        <label for="latitude">Latitude:</label>
        <input id="latitude" type="number" [(ngModel)]="latitude" placeholder="Latitude">
    </div>

    <div>
        <label for="longitude">Longitude:</label>
        <input id="longitude" type="number" [(ngModel)]="longitude" placeholder="Longitude">
    </div>
    <button (click)="setCenter()">Go</button>
</div>
<br>
<div id="map" class="map"></div>
<div id="mouse-position"></div> -->

<!-- <body (click)="initialize_map(); add_map_point(13,80);">
    <div id="map" style="width: 100vw; height: 100vh;"></div>
</body> -->



